*{
	margin: 0; padding: 0;box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a{text-decoration: none;}

	li{list-style: none;}

	a:hover{text-decoration: none;}

	.nav-item a{
	color: #fff!important;
	font-weight: bold;
}

.header{
	width:100%;
	height: 100vh;
	background-image:url("img/software development.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

/***************Parallax Starts*****************/

.parallexone, .parallexthree, .parallextwo{
	width:100%;
	height: 100vh;
	background-size: 100% 100%;
	background-attachment: fixed;
	position:relative;
}
.parallexone{
	background-image:url("img/header.jpg");
}
.parallextwo{
	background-image:url("img/desk.jpg");
}
.parallexthree{
	background-image:url("img/Digital Marketing.jpg");
}

.parallexone h2, .parallextwo h2, .parallexthree h2{
	position:absolute;
	left:50%;
	right:50%;
	transform: translate(-50%,-50%);
	top:300px;
	width:200px;
	height:90px;
	padding: 10px;
	background-color:black;
	color:white;
	text-align:center;
}
.para{
	width:100%;
	padding:20px;
	background-color:black;
	color: white;
	font-size:17px;

}
/***************Parallax Ends*****************/

/***************Three Col Div Starts*****************/

#features p{
font-size: 1.2rem;
padding: 1rem 1rem;
}
/***************Three Col Div Ends*****************/

/***************Five Col Slider Starts*****************/
.owl-prev{
	left: -30px;
}
.owl-next{
	right: -30px;
}
.owl-prev, .owl-next{
	position: absolute;
	top: 30%;
}
.owl-prev span, .owl-next span{
	font-size: 60px;
	color: #787878;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
	background-color: transparent;
}
